diffusers_local/                    
/diffusertrack.code-workspace
/audio-diffusion
#/data
/thesis/thesis.lot
/thesis/thesis.out
/thesis/thesis.bbl
/thesis/thesis.aux
/thesis/thesis.blg
/thesis/thesis.toc
/thesis/thesis.fdb_latexmk
/thesis/thesis.fls
/thesis/thesis.log
/thesis/thesis.lof
/thesis/thesis.synctex.gz